.ListingCard {
  width: 140px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  text-align: left;
}

.ListingContainer {
  display: flex;
  padding: 5px;
  margin: 5px;
  justify-content: space-around;
}
